body {
    margin: 0;
    padding: 0;
    background-color: #202124;
}

#pic{
  padding-top: 30vh;
  padding-left: 4vw;
  width: 90vw;
}
/* #bg {
    position: fixed;
    filter: brightness(120%);
    height: 100vh;
    width: 100vw;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    z-index: -1;
} */

header {
    position: fixed;
    width: 100vw;
    height: 12vh;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    background-color: #202124;
    font-family: Consolas, monospace;
    color: whitesmoke;
    vertical-align: center;
    line-height: 12vh;
    font-size: 1rem;
}
header > p {
    font-family: Consolas, monospace;
    color: whitesmoke;
    line-height: 6vh;
    font-size: 1rem;
    padding-left: 3vw;
}
header > button {
    background-color: rgb(29, 233, 182);
}

.st0{fill:#1DE9B6;}
.st1{fill:#BDBDBD;}
.st2{fill:#757575;}
.st3{fill:#212121;}
.st4{fill:#dfe0e4;}
.st5{fill:rgba(255,255,255,0.1);}
